<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hist.party.dao.TbDepartmentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hist.party.entity.TbDepartment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="INTEGER" />
    <result column="marks" property="marks" jdbcType="VARCHAR" />
    <result column="memberNum" property="membernum" jdbcType="INTEGER" />
    <result column="hierarchy" property="hierarchy" jdbcType="INTEGER" />
    <result column="hierarchy_name" property="hierarchyName" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from party..tb_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hist.party.entity.TbDepartment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into party..tb_department (id, pid, name, 
      createDate, marks, memberNum, 
      hierarchy, hierarchy_name, summary
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=INTEGER}, #{marks,jdbcType=VARCHAR}, #{membernum,jdbcType=INTEGER}, 
      #{hierarchy,jdbcType=INTEGER}, #{hierarchyName,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hist.party.entity.TbDepartment" >
    update party..tb_department
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=INTEGER},
      marks = #{marks,jdbcType=VARCHAR},
      memberNum = #{membernum,jdbcType=INTEGER},
      hierarchy = #{hierarchy,jdbcType=INTEGER},
      hierarchy_name = #{hierarchyName,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, pid, name, createDate, marks, memberNum, hierarchy, hierarchy_name, summary
    from party..tb_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, pid, name, createDate, marks, memberNum, hierarchy, hierarchy_name, summary
    from party..tb_department
  </select>
</mapper>