<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hist.party.dao.TbRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hist.party.entity.TbRolePermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="permission_id" property="permissionId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from party..tb_role_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hist.party.entity.TbRolePermission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into party..tb_role_permission (id, role_id, permission_id
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hist.party.entity.TbRolePermission" >
    update party..tb_role_permission
    set role_id = #{roleId,jdbcType=INTEGER},
      permission_id = #{permissionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, role_id, permission_id
    from party..tb_role_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, role_id, permission_id
    from party..tb_role_permission
  </select>
  
  <select id="findPermissions"  parameterType="List" resultType="String">
  	select p.url
  	from tb_permissions p,tb_role_permission rp 
  	<where>
  		rp.role_id in 
  		<foreach item="role_id" collection="array" open="(" separator="," close=")">
  			#{role_id}
  		</foreach>
  		 and  p.id = rp.permission_id
  	</where>
  </select>
</mapper>